// Colors
// @TODO make light/medium/dark gray based on %
$dark-gray: #888888;
$medium-gray: #d0d0d0;
$light-gray: #ece9e9;
$red: #F34017;

$primary-focus-color: #4285f4;
$secondary-focus-color: $red;

$meta: $dark-gray;

// Widths
$width: 960px;

$small: 12px;

$padding: 20px;