@import 'variables';
@import 'reset';
@import 'base';
@import 'masthead';

.location {
  color: $secondary-focus-color;
  a {
    .fa {
      color: rgba(243, 64, 23, 0.25);
    }
  }
}

.fa {
  margin: 0 5px;
}

.row  {
  float: left;
  width: 100%;
}

.row {
  &.is-item {
    &:last-child {
      border-bottom: 0;
    }
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $light-gray;
  }
}

.content {
  img {}
  color: #545454;
  font-size: 14px;
  .title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .body {}
}

.attend-container {
  float: right;
  margin-top: -5%;
  a {
    font-size: 40px;
    color: #d9d9d9;
    &:hover {
      color: $primary-focus-color;
    }
    &.attending {
      color: $primary-focus-color;
    }
  }

}

.grid {
  float: left;
  padding: 0 20px;
  &.is-20 {
    width: 20%;
  }
  &.is-30 {
    width: 30%;
  }
  &.is-40 {
    width: 40%;
  }
  &.is-60 {
    width: 60%;
  }
  &.is-70 {
    width: 70%;
  }
  &.is-80 {
    width: 80%;
  }
}

strong {
  font-weight: bold;
}

br  {
  clear: both;
}

p {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.map {
  border: 1px solid $light-gray;
  min-height: 400px;
}