.nav {
  &.is-underlined {
    .is-active {
      border-bottom: 2px solid;
    }
  }
  .nav-item {
    display: inline-block;
    &.is-active {
      color: $primary-focus-color;
      font-weight: bold;
    }
  }
  &.is-primary {
    .nav-item {
      padding: 5px 0 15px;
    }
  }
  &.is-secondary {
    .nav-item {
      padding: 10px;
      &.is-active {
        color: $dark-gray;
      }
    }
  }
  &.is-tertiary {
    .is-active {
      color: $secondary-focus-color;
    }
    .nav-item {
      padding: 8px;
    }
  }
  &.is-spacious {
    .nav-item {
      padding: 20px;
    }
  }
}

.masthead {
  // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  .top {
    background: #f5f5f5;
    border-bottom: 1px solid $light-gray;
    min-height: 40px;
    .nav {
      float: right;
    }
  }
}

.bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .10);
    min-height: 40px;
    .nav {
      float: left;
      .is-active {
        font-weight: bold;
      }
    }
    .location {
      float: right;
    }
  }