.nav {
  &.is-underlined {
    .is-active {
      border-bottom: 2px solid;
    }
  }
  .nav-item {
    &.is-active {
      color: $primary-focus-color;
      font-weight: bold;
    }
  }
  &.is-secondary {
    .nav-item {
      padding: 10px;
      &.is-active {
        color: $dark-gray;
      }
    }
  }
  &.is-tertiary {
    .is-active {
      color: $secondary-focus-color;
    }
    .nav-item {
      padding: 8px;
    }
  }
  &.is-spacious {
    .nav-item {
      padding: 20px;
    }
  }
}